@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cubic-bezier: cubic-bezier(0.4, 0, 0.49, 1);
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #272c34;
  color: #fff;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  position: relative;
  overflow: hidden;
  clip-path: circle(90px at 90px 90px);
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.sky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 124px;
  background: #7ddffc;
  z-index: 0;
}

.sun {
  position: absolute;
  top: 7px;
  left: 73px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #ffef00;
  transform-origin: 50% 400%;
  z-index: 2;
}

.side-left {
  position: absolute;
  top: 67px;
  left: 35px;
  height: 57px;
  width: 116px;
  background: #f4f4f4;
  clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
}

.side-right {
  position: absolute;
  top: 67px;
  left: 93px;
  height: 57px;
  width: 58px;
  background: #dddada;
  clip-path: polygon(30% 100%, 100% 100%, 0% 0%);
}
